#red {
    background-color: brown;
    height: 100px;   
}
#green {

    background-color: green;
    height: 100px;
}
#yellow {

    background-color: yellow;
    height: 100px;
}
#orange {

    background-color: orange;
    height: 100px;
}
#pink {

    background-color: pink;
    height: 100px;
}
#antiquewhite {

    background-color: rgb(126, 93, 48);
    height: 700px;
}